html {
  background-color: #f2f2f2;
  background-size: 1280px auto;
}

body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
  background-size: 1200px auto;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  background-position: center;
}

.inner-page {
  width: 1200px;
  margin: 0 auto;
  font-family: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-size: 1280px 933px;
  background-color: #ffffff;
  background-size: 1200px 933px;
  box-shadow: 0px 5px 15px #f2f2f2;
  background-position: center;
}

a {
  text-decoration: none;
}

.main-header-logo {
  width: 140px;
  height: 71px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.site-navigation li {
  width: 25%;
}

.site-navigation a {
  display: block;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-item-current {
  color: #766357;
}

 .sell-1,
 .sell-2 {
  text-align: left;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 72px;
}

 .sell-3,
 .sell-4 {
  text-align: right;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 72px;
}

.inner-background {
  background-image: url(../img/jpg/filter-background.jpg);
  background-color: #283c44;
  background-repeat: no-repeat;
  background-position: top center;
  width: 1200px;
  height: 562px;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}

.combined-background {
  margin: 0 auto;
  height: 800px;
  background-image: url(../img/png/polygon.png), url(../img/png/Layer14.png), url(../img/png/welcome.png), url(../img/jpg/background.jpg);
  background-size: 101% 59px, 100% 216px, 459px 353px, 100% 773px;
  background-repeat: no-repeat;
  background-position: top 509px center, top 566px center, top 132px center, top center;
}

.main-description {
 margin: -180px 300px 56px 300px;
}

.description {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  letter-spacing: normal;
  background-color: #ffffff;
  margin: 0;
}

.five-reasons {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  letter-spacing: normal;
  padding-top: 38px;
  margin: 0;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons-item {
  display: flex;
  margin: 0;
  background-color: #eeeeee;
}

.first-reason,
.second-reason {
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  margin: 0;
  width: 400px;
  padding-top: 46px;
}

.first-reason-image {
  width: 800px;
  height: 256px;
}

.second-reason-image {
  width: 800px;
  height: 256px;
}

.third-reason {
  text-align: center;
  width: 400px;
  padding-top: 50px;
  padding-bottom: 64px;
}

.forth-reason {
  text-align: center;
  width: 400px;
  padding-top: 50px;
  padding-bottom: 64px;
}

.fifth-reason {
  text-align: center;
  width: 400px;
  padding-top: 50px;
  padding-bottom: 64px;
}

.benefits-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.benefits-item {
  width: 400px;
  text-align: center;
  margin: 0;
  padding: 60px 60px 85px 73px;
}

.reasons-item h3,
.benefits-item h3 {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
}

.benefits-item h3 {
  margin-bottom: 30px;
}

.reasons-item p,
.benefits-item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 30px;
  margin-bottom: 0;
}

.booking {
  position: relative;
  text-align: center;
  padding-top: 57px;
  padding-bottom: 0;
}

.booking h3 {
  font-size: 30px;
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
}

.booking p {
  font-size: 14px;
  color: #333333;
  text-align: center;
  margin-bottom: 52px;
}

.modal-form-button {
  display: inline-block;
  font-family: inherit;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  box-sizing: border-box;
  padding-top: 34px;
  padding-bottom: 34px;
  width: 568px;
  text-align: center;
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: #604e43;
}

.modal-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
  }

.modal-form-button .modal-form {
  display: flex;
  }

  .modal-form {
    position: relative;
  }

  .modal-form-visible {
    display: flex;
  }

  .modal-form-invisible {
    display: none;
  }

  .booking-form {
    position: absolute;
    z-index: 3;
    visibility: visible;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    box-sizing: border-box;
    width: 568px;
    padding: 55px;
    margin: auto;
    right: 0;
    left: 0;
  }

  .booking-form input[type="text"] {
  font-family: inherit;
  text-transform: uppercase;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  width: 346px;
  padding: 9px;
  margin-bottom: 29px;
  }

  .booking-form input:hover {
  background-color: #ebebeb;
  }

  .booking-form input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  }

  .calendar1 {
    position: absolute;
    display: block;
    top: 60px;
    right: 60px;
    background: transparent;
    border: none;
    fill: #cacaca;
  }

  .calendar2 {
    position: absolute;
    display: block;
    top: 125px;
    right: 60px;
    background: transparent;
    border: none;
    fill: #cacaca;
  }

  .calendar1:focus,
  .calendar2:focus {
    fill: #000000;
  }

  .calendar1:hover,
  .calendar2:hover {
    fill: #000000;
  }

  .calendar1:active,
  .calendar2:active {
   fill: #81b3d2
}

  .booking-form label {
  font-family: #000000;
  font-size: 14px;
  font-weight: bold;
  float: left;
  line-height: 26px;
  }

  .label-in {
    margin: 8px 0;
    margin-right: 21px;
  }

  .label-out {
    margin: 8px 0;
    margin-right: 17px;
  }

  .date {
  color: #cacaca;
  }

  .date:hover,
  .date:focus {
  color: #000000;
  }

  .date:active {
  color: #81b3d2;
  }

  .booking-form .half-width {
    display: flex;
    flex-direction: row;
  }

  .half-width input[type="text"] {
  font-family: inherit;
  text-transform: uppercase;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  padding: 9px;
  margin: 0;
  width: 38px;
  }

  .field-amount-adult,
  .field-amount-kids {
    width: 38px;
    height: 38px;
    text-align: center;
  }

  .label-adult {
    margin: 8px 0;
    margin-right: 41px;
  }

  .label-kids {
    margin: 8px 0;
    margin-right: 27px;
    margin-left: 53px;
  }

  .btn-minus,
  .btn-plus {
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
    font-family: inherit;
    font-size: 14px;
    margin-bottom: 54px;
  }

  .booking-form .find {
  font-family: inherit;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 54px;
  background-color: #81b3d2;
  box-sizing: border-box;
  width: 458px;
  padding: 19px 197px;
  }

  .booking-form .find:hover,
  .booking-form .find:focus {
  background-color: #669ec0;
  }

  .booking-form .find:active {
  background-color: #5496bd;
  }

.map {
  height: 475px;
}

  .map p {
  position: relative;
  z-index: 1;
  margin: 0;
  }

  .map iframe {
  position: absolute;
  z-index: 2;
  }

.main-footer {
  color: #000000;
  background-color: #ffffff;
  opacity: 0.9;
  background-position: bottom;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  font-family: inherit;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  width: 355px;
  padding: 36px 0 32px 132px;
}

.footer-contacts p {
  margin: 0;
  margin-bottom: 16px;
}

.footer-contacts .tel {
  color: #000000;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  list-style: none;
  margin: 36px 228px 36px 169px;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  fill: #ffffff;
  opacity: 0.3;
  background-color: #5496bd;
}

.footer-copyright {
  display: flex;
  padding: 39px 80px 40px 0;
  margin: 0;
}

.footer-copyright p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: right;
  padding-right: 8px;
  padding-top: 8px;
  margin: 0;
  width: 90px;
}

.footer-copyright img {
  fill: #231f20;
  margin: 0;
  width: 115px;
}

.footer-copyright img:hover,
.footer-copyright img:focus {
  fill: #81b3d2;
}

.footer-copyright img:active {
  fill: #bdbbbc;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  background-image: url(../img/jpg/filter-background.jpg);
  background-repeat: no-repeat;
  background-color: #283c44;
  top: 0;
  padding: 31px 72px;
}

.filters form {
  display: flex;
}

fieldset {
  border: none;
  width: 245px;
  margin: 0;
  position: relative;
}

.filter legend {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 13px;
}

.filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-option {
  display: flex;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  margin-top: 23px;
}

.filter-option label {
  position: relative;
  display: block;
  margin: 0;
  padding-left: 40px;
  vertical-align: middle;
}

.checkbox-indicator {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  padding-right: 17px;
}

.checkbox-indicator:checked {
  padding-right: 13px;
}

.filter-option input[type="checkbox"] + .checkbox-indicator {
  background-image: url(../img/png/checkbox-off.png);
  background-repeat: no-repeat;
  color: #ffffff;
  width: 23px;
  height: 23px;
}

.filter-option input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url(../img/png/checkbox-on.png);
  background-repeat: no-repeat;
  color: #ffffff;
  width: 27px;
  height: 23px;
}

.filter-option [type="checkbox"]:disabled + .checkbox-indicator {
  color: #6a6a6a;;
}

.filter-range {
 width: 320px;
 margin-left: auto;
 color: #ffffff;
 text-transform: uppercase;
}

.filter-range-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  text-align: left;
  margin-bottom: 13px;
}

.price-controls {
  position: relative;
  height: 32px;
  width: 314px;
  margin-bottom: 22px;
  margin-right: 74px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
  vertical-align: middle;
}

.price-controls input {
  width: 55px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  width: 314px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0;
}

.range-controls .bar {
width: 85%;
height: 2px;
background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow:  0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  width: 6px;
  height: 6px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 11px 34px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:focus,
.btn-transparent:hover {
  color: #000000;
  background-color: #ffffff;
}

.found-results {
  display: flex;
  background-color: #ffffff;
  padding: 31px 72px;
}

span {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  width: 200px;
  vertical-align: middle;
  padding: 0;
}

.sorting {
  display: flex;
  justify-content: space-between;
  width: 366px;
}

.sorting p {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.sorting-item {
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px dashed #81b3d2;
  color: rgba(0, 0, 0, 0.3);
  width: 80px;
}

.sorting-item:hover,
.sorting-item:focus, {
  border-bottom: 1px dashed #81b3d2;
  color: #81b3d2;
}

.sorting-item:active {
  border-bottom: none;
  color: #000000;
}

.sorting-item-current {
  border-bottom: none;
  color: #81b3d2;
}

.switcher {
  display: flex;
  width: 50px;
  justify-content: space-between;
  margin-left: 450px;
}

.button-switcher-up {
  width: 25px;
  height: 25px;
  border: none;
  background: transparent;
  fill: #cacaca;
}

.button-switcher-down {
  width: 25px;
  height: 25px;
  border: none;
  background: transparent;
  fill: #cacaca;
}

.button-switcher-up:focus,
.button-switcher-up:hover,
.button-switcher-down:focus,
.button-switcher-down:hover {
  fill: #ffffff;
}

.button-switcher-up:active,
.button-switcher-down:active {
  fill: #81b3d2;
}

.results-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.results-item {
  display: flex;
  flex-direction: row;
  width: 1200px;
  border: 1px solid #f2f2f2;
}

.results-item p {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.results-item a {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.results-item a:hover,
.results-item a:focus {
   color: #81b3d2;
}

.results-item a:active {
   color: rgba(0, 0, 0, 0.3);
}

.inner-description-image {
  width: 135px;
  height: 90px;
  margin: 30px 0 30px 72px;
}

.inner-description a {
  margin: 0;
}

.inner-description {
  width: 750px;
  margin: 30px;
}

.cost {
  display: flex;
}

.inner-description p {
  width: 132px;
  margin: 0;
  padding: 4px 0;
}

a.button1 {
  font-size: 14px;
  color: #ffffff;
  width: 76px;
  background-color: #81b3d2;
  padding: 8px 17px;
}

a.button1:hover,
.button1:focus {
  color: #ffffff;
  background-color: #669ec0;
}

a.button1:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

a.button2 {
  font-size: inherit;
  color: #ffffff;
  width: 110px;
  background-color: #766357;
  padding: 8px 16px;
}

a.button2:hover,
a.button2:focus {
  color: #ffffff;
  background-color: #604e43;
}

a.button2:active {
   color: rgba(255, 255, 255, 0.3);
   background-color: #503e33;
}

.raiting-stars {
  height: 17px;
  background-image: url(../img/png/star.png);
  background-repeat: repeat-x;
  margin: 29px 72px 0 0;
}

.star4 {
  width: 72px;
  margin-left: 60px;
}

.star3 {
  width: 55px;
  margin-left: 80px;
}

.star2 {
  width: 35px;
  margin-left: 100px;
}

.raiting-number {
  width: 110px;
  padding: 5px 13px;
  background-color: #f2f2f2;
  color: #666666;
  margin: 47px 72px 30px 0;
}
